@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
:global {
	.projectSearchResult span.projectTitle {
		display: block;
	}
	.projectSearchResult .projectTile {
		text-align: center;
		margin: 5px 5px 0px 0px;
		padding: 10px 5px 0px 5px;
		border: 1.1px solid #f2f2f2f2;
		max-width: 200px;
		max-height: 200px;
		min-width: 200px;
		min-height: 200px;
		overflow: hidden;
		display: inline-block;
		background: #dddd;
		color: #000;
		cursor: pointer;
	}
	.projectSearchResult span.projectTitle {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 18px;
		padding-bottom: 10px;
		text-align: left;
	}
	.popbold {
		font-weight: 600;
	}
	.projectSearchResult span.projectItemInfo {
		display: block;
		text-align: left;
	}
	.searchElements {
		max-width: 250px;
		margin: 5px 5px 10px 0px;
	}
	.projectSearchSection .lefttPanelSection {
		padding-top: 24px;
	}
	.projectFilters .ms-Dropdown-container {
		display: inline-block;
		min-width: 150px;
		margin-right: 10px;
	}
	.projectTitle a {
		text-decoration: none;
	}
	.projectTypeOption .ms-ChoiceField {
		display: inline-block;
		padding-right: 10px;
	}
	.ms-dialogMainOverrideProjects .ms-Dialog-header {
		background-color: #fff;
	}
	.ms-dialogMainOverrideProjects {
		width: 100%!important;
		max-width: 660px!important;
		max-height: calc(60vh + 240px)!important;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 8px 6px 6px 0;
	}
	.esHeader {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 5px;
	  }
	  .esHeader .esHeaderIcon {
		background: #f68d2e;
		color: #fff;
		padding: 7px;
		vertical-align: top;
		margin-right: 10px;
	  }
}