<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="AutocadPath" value="D:\Program Files\Autodesk\AutoCAD 2017"/>
  <add key="HostName" value="com.google.chrome.example.echo"/>
  <add key="ExtentionID" value="chrome-extension://knldjmfmopnpolahpmmgbagdohdnhkik/"/>
</appSettings>
</configuration>