@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
:global{
  
  .cs-es-description {
    color: #333;
    margin-right: 20px;
    line-height: 25px;
    min-height: 80px;
  }

  .cs-es-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .cs-es-dot.active {
    background-color: #4A4D9E;
  }

  .cs-es-previousSlide,
  .cs-es-nextSlide {
    cursor: pointer;
  }

  div#cs-es-slider {
    height: auto;
    overflow: auto;
    margin: -7px -7px -12px -7px;
  }

  .cs-es-previousSlide:hover,
  .cs-es-nextSlide:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .cs-es-nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .cs-es-dotSection {
   text-align: center;
    left: 25%;
    bottom: 20px;
  }
  .cs-es-Image {
    text-align: center;
    margin: 10px;
  }
  .cs-es-Image img {
    height: 100px;
    width: 100px;
  }

.esHeader {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
}
.esHeader i.ms-Icon.ms-Icon--Snowflake.esHeaderIcon {
  background: #f68d2e;
  color: #fff;
  padding: 7px;
  vertical-align: top;
}

}