@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

:global {
  .socialMediaWebpart {
    .ms-twitter-MessageBar {
      margin: 10px 0px 0px 0px;
    }

    .tab-instgram {
      width: 100%;
    }

    .Instagram-feed {
      height: 310px;
      min-width: 240px;
      overflow-y: scroll;
    }

    .instagramModuleSection {
      margin: 10px 0px 0px 0px;
    }

    .instagramModuleSection .ms-List-cell {
      display: inline-block;
      padding: 5px 5px 5px 0px;
    }

    .facebookPageContainerMain {
      margin: 10px 0px 0px 0px;
    }

    // button#Pivot33-Tab0 {
    //   background-color: #1B498F;
    //   margin-right: 0px;
    //   background: url('./Images/icons8-facebook-480.png') no-repeat #3f51b5;
    //   background-position: center;
    //   background-size: 70px 70px;
    //   padding: 5px 0px 5px 0px;
    // }

    // button#Pivot33-Tab1 {
    //   background-color: #2FA7D6;
    //   margin-right: 0px;
    //   width: 33%;
    //   height: 50px;
    //   background: url('./Images/icons8-twitter-squared-96.png') no-repeat #03a9f4;
    //   background-position: center;
    //   background-size: 70px 70px;
    //   padding: 5px 0px 5px 0px;
    // }

    // button#Pivot33-Tab2 {
    //   background-color: #CA2F47;
    //   margin-right: 0px;
    //   width: 33%;
    //   height: 50px;
    //   background: url('./Images/icons8-instagram.png') no-repeat #c2185b;
    //   background-position: center;
    //   background-size: 50px 50px;
    //   padding: 5px 0px 5px 0px;
    // }

    .ms-Pivot>Button:nth-child(1) {
      background-color: #1B498F;
      margin-right: 0px;
      width: 33%;
      height: 50px;
      background: url('./Images/icons8-facebook-480.png') no-repeat #3f51b5;
      background-position: center;
      background-size: 70px 70px;
      padding: 5px 0px 5px 0px;
    }

    .ms-Pivot>Button:nth-child(2) {
      background-color: #2FA7D6;
      margin-right: 0px;
      width: 33%;
      height: 50px;
      background: url('./Images/icons8-twitter-squared-96.png') no-repeat #03a9f4;
      background-position: center;
      background-size: 70px 70px;
      padding: 5px 0px 5px 0px;
    }

    .ms-Pivot>Button:nth-child(3) {
      background-color: #CA2F47;
      margin-right: 0px;
      width: 33%;
      height: 50px;
      background: url('./Images/icons8-instagram.png') no-repeat #c2185b;
      background-position: center;
      background-size: 50px 50px;
      padding: 5px 0px 5px 0px;
    }

    .facebookPageContainer {
      display: flex;
      justify-content: center;

      >iframe {
        margin: 0 auto;
        max-width: 500px;
      }
    }
  }
}
