@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

:global {
  .socialMediaWebpart {

    .ms-twitter-MessageBar,
    .ms-MessageBar-content {
      margin: 10px 0px 0px 0px;
    }

    .tab-instgram {
      width: 100%;
    }

    .Instagram-feed {
      height: 310px;
      min-width: 240px;
      overflow-y: scroll;
    }

    .instagramModuleSection {
      margin: 10px 0px 0px 0px;
    }

    .instagramModuleSection .ms-List-cell {
      display: inline-block;
      padding: 5px 5px 5px 0px;
    }

    .facebookPageContainerMain {
      margin: 10px 0px 0px 0px;
    }

    .ms-Button-flexContainer {
      display: inline-flex;
    }
    .twitterItem{
      min-height: 365px;
      max-height: 365px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .linkedInIcon,
    .facebookIcon,
    .instagramIcon,
    .twitterIcon {
      margin: 10px 0px 0px 0px;
    }

    .facebookPageContainer {
      display: flex;
      justify-content: center;

      >iframe {
        margin: 0 auto;
        max-width: 500px;
      }
    }
  }
}
