@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

:global{
 
  .myLinksItems .CanvasSection-col .ms-Grid{
    padding: none!important;
  }
  
  .linksHeader{
      color: #80c11e;
      border-bottom: #ccc solid 2px;
      font-size: 15px;
      padding-bottom: 5px;
  }
  .linksSection ul{
      padding: 0;
      list-style-type: none;
  }
  .linksSection ul li{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .linkIcon{
    padding-right: 5px;
  }
 
  .linksSection ul li a{
    text-decoration:none;
    color: #333;
    font-weight: 400;
    font-size:14px;
  }
  .links .webpartTitleIcon{
    display:inline-block;
  } 
 .addNewLinkSection{
   float: right;
   padding-right:5px;
   padding-top: 30px;
 }
 .newLinkButtonIcon{
  vertical-align: middle;
  font-weight: normal !important;
 } 
 .addNewLinkSection button{
    background: transparent !important;
    vertical-align: middle;
    margin-left: 0px;
    padding-left: 0px;
 }
 .addNewLinkSection button:hover{
   background: transparent !important;
   border:0!important;
 }
 .ms-dialogMainOverrideLink{
   overflow: hidden;
 }
 .ms-dialogMainOverrideLink .ms-Dialog-header{
   background-color: #00a0dd;
 }
 .hideControl{
   display: none;
 }
 .ms-dialogMainOverrideEvents .ms-Dialog-header{
  background-color:#fff;
}
.ms-dialogMainOverrideEvents {
  width:100%!important;
  max-width:660px!important;
  max-height:calc(60vh + 240px)!important;
  overflow-y:auto;
  overflow-x:hidden;
  padding:8px 6px 6px 0;
}

.addNewLinkSection button{
  float: right !important; 
  background:#ec63a9 !important; 
  color: #fff !important; 
  border-radius: 3px !important;  
  padding: 5px;
  font-weight: 300;
}
.addNewLinkSection button:hover {
  background: #303394 !important; 
}
.addNewLinkSection .ms-Button-label{
  font-weight: 300;
}
.addNewLinkSection .ms-ListBasicExample-itemCell:hover{
  background: #303394 !important;
  color: #fff !important;
}
.addNewLinkSection button:hover{
  background: #303394 !important;
}
.linkTitleIcon{
    color: #E7338D;
    padding-right: 5px;
    font-weight: 600;
  }
  .mfWebpartTitle textarea,.mfWebpartTitle div span{
    font-size: 18px !important;
    color: #4A4D9E !important;
    font-family: "Rubik Medium";
    font-weight: normal;
  }
  .mfWebpartTitle::first-letter{
    border-bottom: 2px solid #E7338D;
  }
  .myLinks{
    min-height: 290px;
    max-height: 290px;
    overflow: hidden;
    margin: 0 10px;
  }
  .myLinksItems{
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}