@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

:global{
  .cs-ta-Image {
    /* display: inline-block; */
    text-align: center;
}

.cs-ta-descriptionSection {
    /* display: inline-block; */
    padding: 0px 0px 0px 10px;
    margin-left: 20px;
}

img {
    display: block;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

.cs-ta-employeeItem {
    display: inline-flex;
    margin: 5px;
}

span.employeeName {
    display: block;
    font-weight: 600;
}

span.spnHello {
    display: block;
}

span.spnBitAbtMe {
    font-size: 20px;
    font-weight: 600;
    /* padding-top: 10px; */
}

span.spnBtn {
    padding: 5px 20px;
    margin: 5px;
    border: 1px solid;
    /* display: block; */
    min-width: 70px;
    background: #307579;
    color: #fff;
    text-transform: uppercase;
}

.socialBtns {
    display: inline-flex;
    margin-top: 10px;
}

.taHeader {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .socialBtns {
    display: block;
    margin-top: 10px;
}
}
}